/* .CourseList {
    text-align: center;
    margin: auto;
}

.CourseList ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom: 1;
    *display: inline;
}

*/
.cousePage {
    display: flex;
    height: 1080px;
}

.cousePage .menu {
    width: 200px;
    height: 100%;
    flex: initial;
    margin-right: 5%;
    border-right: 2px;
    border-right-style: dashed;

}
.cousePage .menu h1{
    margin: 10px;
}


.cousePage .content {
    flex: auto;
}
.cousePage .content h1{
    margin: 10px;
}

.AnnRow,.AssiRow {
    display: block;
    margin-top: 2em;
    padding-inline-start: 20px;
}

.assignDesc{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px;
    border-style: double;
}

.assignDueDate, .assignPoint{
    font-weight: bolder;
}

